.authButton {
  font-family: 'Oswald', sans-serif;
  background: darken($dark-color, 13%);
  border: 1px solid darken($dark-color, 7%);
  padding: 0.5rem;
  color: $light-color;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 400ms ease-in-out;

  &:hover {
    background: darken($dark-color, 9%);
    border: 1px solid darken($dark-color, 5%);
  }
}
