.goBackButton,
.clearSearchResults {
  max-width: 600px;
  width: 100%;
  margin: 2rem 0;
  border-top: 1px solid $accent-color;

  &__button {
    margin-top: 2rem;
    padding: 0.5rem 1rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.1rem;
    text-transform: uppercase;
    background: darken($accent-color, 20%);
    border: 2px solid $light-color;
    color: $light-color;
    border-radius: 3px;
    font-weight: 200;
    width: 100%;
  }
}

.authButton {
  font-family: 'Oswald', sans-serif;
  background: darken($dark-color, 13%);
  border: 1px solid darken($dark-color, 7%);
  padding: 0.5rem;
  color: $light-color;
  font-size: 1.3rem;
  font-weight: 400;
  text-transform: uppercase;
  border-radius: 4px;
  cursor: pointer;
  transition: all 400ms ease-in-out;

  &:hover {
    background: darken($dark-color, 9%);
    border: 1px solid darken($dark-color, 5%);
  }
}

.errorLink {
  color: darken($light-color, 25%);
  font-weight: 700;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
